header .first ul{
    list-style: none;
}
header .first ul li{
    float: left;
}
header .first ul li img{
    max-width: 140px;
    height: auto;
}
header .first ul li button{
    width: 435px;
    height: 36px;
}